<div class="modal-backdrop" id="modalBackdrop"></div>

<!-- // fix organization here -->
<div class="modal" id="logOutModal" role="dialog">
  <h2>Log Out</h2>
  <p>Are you sure you want to log out?</p>
  <div class="modal-actions">
    <button class="close-btn">Cancel</button>
    <form id="logoutForm" action="/log-out" method="POST">
      <button type="submit" class="action-btn">Log Out</button>
    </form>
  </div>
</div>

<div class="modal" id="deleteMessageModal">
  <h2>Delete Message?</h2>
  <p>This process cannot be undone.</p>
  <div class="modal-actions">
    <button id="cancelDeleteBtn" class="close-btn">Cancel</button>
    <form id="deleteMessageForm" action="/delete-message" method="POST">
      <!-- hidden input field to store messageId -->
      <input type="hidden" name="messageId" id="messageIdInput" />
      <button type="submit" class="confirm-btn">Delete</button>
    </form>
  </div>
</div>
