#createMessageBtnDiv {
  margin: 10px 0 0 0;
  align-self: center;
  text-align: center;
}

#sendMessageForm {
  display: none;
}

#sendMessageForm fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 6px;
}

/* Textarea styling */
textarea {
  width: 100%;
  height: 75px;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd; /* Light border */
  border-radius: 4px;
  resize: vertical; /* Allow users to resize vertically */
  box-sizing: border-box; /* Ensure padding is included in width/height */
  font-family: inherit; /* Match the app's font */
  transition: border-color 0.2s ease-in-out; /* Smooth interaction on focus */
}

.message-feedback {
  color: var(--text-dark);
  align-self: end;
  margin: 5px 5px 0 0;
  height: 19.2px;
}

#messageFormActions {
  display: flex;
  margin: 5px 0 0 0;
}

#messageFormActions button {
  margin: 0 10px 0 0;
}

.messages-container h2 {
  margin: 10px 0 10px 0;
}

.messages-container {
  padding: 10px;
}

.message strong {
  font-size: 1.2rem;
}

.message p {
  margin: 0 0 5px 0;
}

.message strong,
.message p,
.message .bottomMessageDiv {
  padding: 0 10px 0 5px;
  overflow-wrap: break-word;
}

.topMessageDiv {
  display: flex;
}

.messages-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages-container li {
  margin-bottom: 10px;
  width: clamp(250px, 70%, 400px);
}

.messages-container ul > li > div {
  border-radius: 10px; /* Rounder message bubble */
  padding: 5px;
  border: var(--accent-light-gray) 3px solid;
}

.message.basic strong,
.message.basic small:nth-child(2) {
  filter: blur(5px);
}

.other > div {
  background-color: var(--other-message);
}

.self > div {
  background-color: var(--user-message);
}

.self {
  margin-left: auto;
}

.topMessageDiv {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  width: 30px;
  height: 30px;
  fill: var(--text-dark);
  border: 2px solid transparent;
  transition:
    fill 0.3s,
    transform 0.3s,
    border-color 0.3s;
}

.delete-icon:hover {
  fill: #d9534f; /* Change to a color of your choice on hover */
  transform: scale(1.2); /* Slightly enlarge the icon on hover */
  border-color: #d9534f;
}
