<form action="/log-in" id="logInForm" method="POST" novalidate>
  <fieldset>
    <legend>Log In</legend>

    <div>
      <label for="email">Email:</label>

      <input
        type="email"
        id="email"
        name="email"
        value="<%= logInEmail ? logInEmail : '' %>"
        required
      />
      <p class="error"><%= logInErrors.email %></p>
    </div>

    <div>
      <label for="password">Password:</label>

      <input type="password" id="password" name="password" required />
      <p class="error"><%= logInErrors.password %></p>
    </div>

    <button type="submit">Submit</button>
  </fieldset>
</form>
