<div>
  <form action="/member-join" method="POST">
    <fieldset>
      <legend>Join the Club as a Member!</legend>

      <label for="memberPassword">Enter the Secret Passcode:</label>
      <input
        type="password"
        id="memberPassword"
        name="memberPassword"
        required
      />

      <button type="submit">Submit</button>
    </fieldset>
  </form>
</div>
