<form action="/sign-up" id="signUpForm" method="POST" novalidate>
  <fieldset>
    <legend>Register</legend>

    <!-- First Name Input -->
    <div>
      <label for="firstName">First Name:</label>
      <p id="firstNameFeedback" class="error"></p>
      <input
        type="text"
        id="firstName"
        name="firstName"
        value="<%= signUpData ? signUpData.firstName : '' %>"
        required
      />
    </div>

    <!-- Last Name Input -->
    <div>
      <label for="lastName">Last Name:</label>
      <p id="lastNameFeedback" class="error"></p>
      <input
        type="text"
        id="lastName"
        name="lastName"
        value="<%= signUpData ? signUpData.lastName : '' %>"
        required
      />
    </div>

    <!-- Email Input -->
    <div>
      <label for="email">Email:</label>
      <p id="emailFeedback" class="error">
        <%= signUpErrors[0] ? signUpErrors[0].msg : '' %>
      </p>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= signUpData ? signUpData.email : '' %>"
        required
      />
    </div>

    <!-- Password Input -->
    <div>
      <label for="password">Password:</label>
      <p id="passwordFeedback" class="error"></p>
      <input type="password" id="password" name="password" required />
    </div>

    <!-- Confirm Password Input -->
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <p id="confirmPasswordFeedback" class="error"></p>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>

    <!-- Admin Code Input -->
    <div>
      <label for="adminCode">Admin Code (Optional):</label>
      <input type="password" id="adminCode" name="adminCode" />
    </div>

    <button type="submit" disabled="true">Submit</button>
  </fieldset>
</form>

<script src="/scripts/signUpForm.js" type="module"></script>
